extends assistantSidebar

block content
    link(rel = 'stylesheet', href = '/stylesheets/information.css')
    .information-panel
        .information-head= '个人信息'
        .information-body
            ul
                li= '姓名 ' + user.name
                li= '帐号 ' + user.id
                li= '邮箱 ' + user.email
                li= `${user.webClass.grade}级${user.webClass.number}班`
                li= '权限 ' + user.identity
    .information-panel
        .information-head= '助教小组'
        .information-body
         ul
            - for (var teammateIndex in groupMates)
              li= groupMates[teammateIndex].name
