extends assistantSidebar

block content
    if user
        h1= 'hello! ' + user.name
    else
        h1= 'no user'
    div#profile
        ul
            li= '姓名 ' + user.name
            li= '学号 ' + user.id
            li= '邮箱 ' + user.email
            li= `${user.webClass.grade}级${user.webClass.number}班`
            li= '权限 ' + user.identity
    - if (groupMates)
      div#groupmates
          h1= '助教小组'
          ul
              - for (var teammateIndex in groupMates)
                p= groupMates[teammateIndex].name
    - else
      h1= 'no group'

