
head
  link(rel = 'stylesheet' href = '/stylesheets/topcoat-light.css')
  link(rel='stylesheet', href='/stylesheets/login.css')
body
  h1= 'My Achievements'
  .description= 'modern web programming 2.0 : course project. '
    strong= '简单实现的作业提交系统'
  form#loginPanel
    .header
      h3= 'Login your account!'
      br
      i.fa.fa-key.fa-4x
      h4= 'Enter your id and password to sign in!'

    .footer
        input.topcoat-text-input(name = 'id', placeholder="account id")
        input.topcoat-text-input(name = 'password', type='password', placeholder="password")
        button.topcoat-button--large--cta(type='button')#login= '登录！'
  script(src = 'http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
  script(src = '/javascripts/login.js')