extends studentSideBar

block content
    - var homeworkRouterUrl = '/homework'
    - var uploadUrl = studentRouterUrl + homeworkRouterUrl + '/' + homeworkName + '/upload'
    p= 'homeworkName is ' + homeworkRouterUrl
    form(method = 'POST'
       , enctype = 'multipart/form-data'
       , action = uploadUrl)
        input(type = 'text', name = 'textfield')
        input(type = 'file', name = 'filefield', multiple)
        input(type = 'button')
    div#reviewers
        p= '他人的评论:'
        - each reviewer in reviewers
            p= '评论人 ' + reviewer.review.reviewerName
            if (reviewer.review.comment)
                p= '内容 ' + reviewer.review.comment
            else
                p= '暂未评论'
    p= 'reviewees length : ' + reviewees.length
    div#reviewees
        - if (reviewees.lenth > 0)
            p= reviewees
            - each reviewee in reviewees
                p= '已提交作业的同学' + reviewee.review.revieweeName
        - else
            p= '暂无同学提交作业'
    include cdn
    script(src = 'javascripts/studentHomework.js')


