extends studentSidebar

block content
    if user
        h1= 'hello! ' + user.name
    else
        h1= 'no user'
    div#profile
        ul
            li= '姓名 ' + user.name
            li= '学号 ' + user.id
            li= '邮箱 ' + user.email
            li= '班级 ' + user.webClass
            li= '小组 ' + user.group
            li= '权限 ' + user.identity
    - if (groupMates)
      div#groupmates
          h1= '组员们'
          ul
              - for (var teammateIndex in groupMates)
                p= groupMates[teammateIndex].name
    - else
      h1= 'no group'

