extends teacherSideBar

block content
    link(href = '/stylesheets/style.css', rel='stylesheet')
    link(href = '/stylesheets/teacherHomework.css', rel='stylesheet')
    .homeworkName= homeworkName

    - var homeworkRouterUrl = '/homework'
    #webClasses
        - each webClass in webClasses
            .webClass
                .webClassTitle= `${webClass.grade}级${webClass.number}班`
                ul.reviewees
                    - each reviewee in webClass.reviewees
                        if (reviewee)
                            li.reviewee
                                span.id= reviewee.recipient
                                if (reviewee.code)
                                    a.code(href=`${teacherRouterUrl}/homework/${homeworkName}/download/code?revieweeId=${reviewee.recipient}`, download)= '下载代码'
                                else
                                    span.code= '暂未提交代码'
                                if (reviewee.image)
                                    a.image(href=`${teacherRouterUrl}/homework/${homeworkName}/download/image?revieweeId=${reviewee.recipient}`, download)= '下载预览图'
                                else
                                    span.image= '暂未提交图片'
                                span.suggestedScore= reviewee.suggestedScore
                                if (reviewee.score)
                                    span.score= reviewee.score
                                else
                                    span.score= '暂无分数'
                                input.reviseScore(type = 'text', placeholder = '修改分数:')
                                button.submitScore.btn.btn-success.btn-sm= '提交分数'
                        else
                            li= '尚未分配评论，请分配评论'
    #reviews

    script(src = '/javascripts/teacherHomework.js')


